body{
  color: blanchedalmond;
  background-color: #3a4d50;
}
.container{
  position: relative;
  background-color: #39555a;
  width: fit-content;
  height: fit-content;
  margin: 50px 200px; 
}
.img{
  width: 79%;
  height: 250px;
}
.top{
  text-align: center;

}
.top li{
  list-style: none;
  display: inline-block;
  line-height: 50px;


  }
.top li a{
  text-decoration: none;
  padding: 0 80px;
  color: black;

}
.right{
  float: right;
  width: 80%;
}
.left{
  float: left;
  width: 20%;
}

.r1{
  float: left;
  width: 50%;
}
.r2{
  float: right;
  width: 50%;
}
.foot{

  text-align: right;
}

ul li a{
  color: white;
}
.top li a{
  color: white;
}
nav{
  background-color: rgb(89, 88, 97);
} 
.copyr{
  text-align: center;
}
.imgflt{
  position: relative;
  text-align: center;
  color: white;

}
.title{
  position: absolute;
  top: 20%;
  left: 17%;

}
.slogan{
  position: absolute;
  top: 45%;
  left: 17%;
 
}