* {
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgb(26, 47, 68);

}
ul{
    text-align: center;
}

.top li{
list-style: none;
display: inline-block;
line-height: 100px;
}

ul li a{
    text-decoration: none;
    padding: 0 20px;
    color: black;
}
nav {
    width: 100%;
    height: 75px;
    background-color: rgb(45, 109, 109);


}
.image{
    width: 100%;
    text-align: center;
    margin-top: 20px;

}
footer{
    text-align: center;
}
.bottom li{
    display: block;
}